* { margin: 0; padding: 0;}

.stp1{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
}

header {
    height: 100px;  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;    
    background-color: white;
    overflow: hidden;
    transition: height 0.3s ease; 
}

header:hover {
    height: 266px; 
}

nav{
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-center;
}

nav .gnb {
    display: flex;
    justify-content: space-between;
    gap:66px;
}

.gnb .gnb-title {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}


nav .gnb .gnb-title>a{
    display: flex;
    height: 100px;
    align-items: center;
}

/* 서브메뉴*/
nav .gnb .gnb-title .subtitle {
    display: flex;
    font-weight: 400;
    flex-direction: column;            
}

nav .gnb .gnb-title .subtitle > li {
    padding-top: 20px;
}

nav .gnb .gnb-title .subtitle > li a {
      font-size: 16px;
}

.banner{
    height: 800px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
}

