:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
    --base-wide1:22px
}
.stp1{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.wrap{
    border: 1px solid blue;
    margin: 0px auto;
    text-align: center;
}

.gnb{
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
    width: 1600px;
    height: 5rem;
    justify-content: space-between;    
    align-items: center;   
}

.gnb logo{
    border: 1px solid red;    
}

.gnb ul{
    border: 1px solid green;   
    display: flex;
    /* flex: 1;     */
    text-align: center;
    text-transform: uppercase;
    /* justify-content: flex-end;  */
    align-items: center;
    gap:2rem;
    margin-right: 20px;
}

.gnb il{
    border: 1px solid blue;
    font-weight: 600;
    font-size: 1rem;
    aspect-ratio: 1/1;
    padding-right: 20px;
}

.banner{
    border: 1px solid red;
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.banner h1{
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


@media(max-width:5120px){
    html{ font-size: var(--base-wide1);}
}

@media(max-width:3840px){
    html{ font-size: var(--base-wide1);}
}

@media(max-width:1920px){
        html{ font-size: var(--base-pc);}
      
}

@media(max-width:1024px){
    html{ font-size: var(--base-pad);}

    .gnb {
        margin: 0 2rem;
        width: auto;
    }

    .banner {
        height: 600px;
    }

    .banner h1 {
    font-size: 4.4rem;
    }

}

@media(max-width:1024px){
    html{ font-size: var(--base-mo);}
}
