
html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.common-fram{
    border: 1px solid red;  
    width: 1600px;   
    margin: 0 auto; 
}

header .common-fram{
    display: flex;
    justify-content: space-between;
}

.gnb{
    border: 1px solid red;
    display: flex;
}

.gnb li{
    border: 1px solid blue;
}

.gnb a{
    border: 2px solid gold;
    height: 100%;
    display: flex;   
    align-items: center; 
    padding: 0 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner{
    border: 1px solid red;
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.banner h1{
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}
